.*
!.provision
ld/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/
vendor/rt/var
vendor/rt/local
vendor/rt/sbin/rt-passwd
Vagrantfile.local
work
